{% extends "layout.html" %}
{% block title %} Accounts {% endblock %}
{% block content %}
    <div class="container p-5">
        <h1>Accounts</h1>
        <a href="/add">
            <button class="btn btn-primary">
                Add Account
            </button>
        </a>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Website Name</th>   
                    <th>Email</th>
                    <th>Password</th>
                    <th>Actions</th>
                </tr>
                <tbody>
                    {% for account in accounts %}
                        <tr>
                            <td>{{ account.website }}</td>
                            <td>{{ account.email }}</td>
                            <td>{{ account.password }}</td>
                            <td class="d-flex gap-2">
                                <a href="/update/{{ account.id }}">
                                    <button class="btn btn-success">
                                        Update 
                                    </button>
                                </a>
                                <form action="/delete/{{ account.id }}" method="POST">
                                    <button class="btn btn-danger">
                                        Delete
                                    </button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">Table is empty</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </thead>
        </table>
    </div>
{% endblock %}
